<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Gửi chị AnJoy</title>
  </head>
  <body>
    <h1>Gửi chị An</h1>
    <p>Dear An,</p>
    <p>I wrote you, but you still ain't callin'</p>
    <p>I left my cell, my pager, and my home phone at the bottom</p>
    <p>I sent two letters back in autumn, you must not've got 'em</p>
    <p>There prob'ly was a problem at the post office or somethin'</p>
    <p>Sometimes I scribble addresses too sloppy when I jot 'em</p>
    <p>But anyways, fuck it, what's been up, man? How's your daughter?</p>
    <p>My girlfriend's pregnant too, I'm 'bout to be a father</p>
    <p>If I have a daughter, guess what I'ma call her? I'ma name her Annie</p>
    <p style="text-align: right;"><i>Stan --- Slim ShaĐộ</i></p>
  </body>
</html>

<style>
  html,
  body {
    padding: 10px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: left;
    font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
      Consolas, "DejaVu Sans Mono", monospace;
    font-weight: normal;
    /* background: linear-gradient(14deg, #d83333 0%, #f041ff 100%); */
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
    margin: 0;
  }
</style>
